.page-header
  %h1.text-center New lot order
.container
  .row
    .col-md-6.col-md-offset-3
      .panel.panel-default
        .panel-heading
          %h3.panel-title New order
        = render 'form'