#header-image
  #main-top-background
  .main-top-overlay
    .container
      .row
        .col-lg-12.text-center
          / %h1.logo-big SimpleHubCRM
          %h2 Try forex investment with a free account
          %p.desc Full access to platform and tools
          %p.desc Track your order and payment record
          %p.desc Secure & backup daily
.what-forex
  .container
    .row
      .col-md-6
        %h1.featurette-heading What is Forex Investment
        %p.lead Foreign exchange, commonly known as ‘Forex’ or ‘FX’, is the exchange of one currency for another at an agreed exchange price on the over-the-counter (OTC) market. Forex is the world’s most traded market, with an average turnover in excess of US$4 trillion per day.
        %br/
        %p.lead We will invest for you, get your weekly profit up to 5%
        = link_to "View our plan", plan_path, class: "btn btn-primary btn-lg"
      .col-md-6
        .forex-currency.img-responsive
.why-us
  .main-top-overlay
    .container
      %h1.text-center Why invest with Wadiah Saving?
      %p.lead.text-center
        %span.glyphicon.glyphicon-ok
        Capital as low as RM 100 per lot
      %p.lead.text-center
        %span.glyphicon.glyphicon-ok
        Profit from 5% - 10% every week for 7 months
      %p.lead.text-center
        %span.glyphicon.glyphicon-ok
        Refundable capital
      %p.lead.text-center
        %span.glyphicon.glyphicon-ok
        The latest security and friendly system
.how-it-works
  .container
    %h1.text-center Quick & Easy Step Just to Follow
    .row
      .col-md-4.text-center
        .each-step
          .icon.icon-choose
          %p
            %em 1
            Create free account
          %span
            Register as simple as ABC
      .col-md-4.text-center
        .each-step
          .icon.icon-payment
          %p
            %em 2
            Purchase order
          %span
            View order record and keep it clean
      .col-md-4.text-center
        .each-step.last-step
          .icon.icon-arrival
          %p
            %em 3
            Easy Payment
          %span
            Pay and fill form. We will respond it shortly
.apply
  .container
    .row
      .col-md-10.col-md-offset-1.text-center
        %h2 Register Now & Keep Forex
        %p
          Place to keep track record on your Forex investment order and payment 
          %br
          We are here to help you to boost up weekly profit
        = link_to "Create Account For FREE", register_path, class: "btn btn-primary btn-lg"
.concern
  .container
    .row
      .col-md-10.col-md-offset-1.text-center
        %h2 Your Data is Kept Secure & Private
    .row
      .col-md-4.text-center
        .img-lock
        %h3 128-BIT ENCRYPTION
      .col-md-4.text-center
        .img-backup
        %h3 CLOUD STORAGE
      .col-md-4.text-center
        .img-organize
        %h3 PRIVACY BENEFIT
.subscribe
  .container
    .row
      .col-md-10.col-md-offset-1.text-center
        %h2 Are you our existing member? Login now
        %p= link_to "Member Sign In", login_path, class: "btn btn-primary btn-lg"
.accepted
  .container
    .row
      .col-md-10.col-md-offset-1.text-center
        %h2 We do accept any major bank in Malaysia
        .bank-supported
          .icon.icon-m2u.besar-2x
          .icon.icon-ambank.besar-2x
          .icon.icon-cimb.besar-2x
          .icon.icon-affinbank.besar-2x
          .icon.icon-bimb.besar-2x
          .icon.icon-hongleong.besar-2x
          .icon.icon-pbebank.besar-2x
          .icon.icon-rhb.besar-2x
= render partial: "footer"