.container
  .page-header
    %h1 Here is our payment record by our client
  .text-center
    %img{src: "/assets/ss1.jpg", class: "img-responsive center-block"}
    %br/
    %img{src: "/assets/ss2.jpg", class: "img-responsive center-block"}
    %br/
    %img{src: "/assets/ss3.jpg", class: "img-responsive center-block"}
    %br/
    %img{src: "/assets/ss4.jpg", class: "img-responsive center-block"}
    %br/
    %img{src: "/assets/ss5.jpg", class: "img-responsive center-block"}
    %br/
    %img{src: "/assets/ss6.jpg", class: "img-responsive center-block"}
    %br/
    %img{src: "/assets/ss7.jpg", class: "img-responsive center-block"}
    %br/
    %img{src: "/assets/ss8.jpg", class: "img-responsive center-block"}
    %br/
    %img{src: "/assets/ss9.jpg", class: "img-responsive center-block"}
    %br/
    %img{src: "/assets/ss10.jpg", class: "img-responsive center-block"}
    %br/
    %img{src: "/assets/ss11.jpg", class: "img-responsive center-block"}
    %br/
    %img{src: "/assets/ss12.jpg", class: "img-responsive center-block"}
%hr
= render partial: "footer"
