.page-header
  %h1.text-center Submit Payment
.container
  .row
    .col-md-6.col-md-offset-3
      .panel.panel-default
        .panel-heading
          %h3.panel-title New payment
        = render 'form'