.footer
  .container
    .row
      .col-lg-7.col-lg-offset-1.col-md-8.col-sm-8
        %p.logo-block
          %span.copy &copy 2015 Wadiah Savings. All rights reserved.
        %p Need Help? Contact us at #{link_to "wadiahsavings@gmail.com", "mailto:wadiahsavings@gmail.com"}
      .col-lg-3.col-md-4.col-sm-4.footer-right
        %p Connect with us
        %ul.list-unstyled.list-inline
          %li= link_to "About Us", "#"
          %li= link_to "Privacy Policy", ""
          %li= link_to "Terms of use", ""